<!DOCTYPE html>
<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="zh"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description"
          content="留学生日报,留学,留学生,留学申请,北美,北美留学,北美留学生,美国"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="keywords" content="留学生日报,留学,留学生,留学申请,北美,北美留学,北美留学生,美国">
    <meta name="description" content="留学生日报, 留学生自己发声的媒体, 分享有趣而真实的留学生活,你值得关注!">
    <meta name="author" content="Haocheng Shen, CollegeCloud.co">
    <meta name="baidu_union_verify" content="2a53f5a5a2131f442a764a4e4c251c7c">
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" name="viewport"/>
    <meta name="baidu-site-verification" content="NP9Au1LLts" />

    <meta property="og:type" content="article"/>
<meta property="og:url" content="http://www.collegedaily.cn/blog/{{id}}}/"/>
<meta property="og:title" content="{{title}}"/>
<meta property="og:description" content="{{title}}"/>
 <meta name="description"
          content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta property="og:image" content="/media/{{cover}}"/>

    <link rel="shortcut icon" href="/static/source/favicon.ico" >
    <link rel="stylesheet" href="{{static_url("css/bootstrap.css")}}" type="text/css"/>
    <link rel="stylesheet" href="{{static_url("css/animate.css")}}" type="text/css"/>
    <link rel="stylesheet" href="{{static_url("css/font-awesome.min.css")}}" type="text/css"/>
    <link rel="stylesheet" href="{{static_url("css/simple-line-icons.css")}}" type="text/css"/>
    <link rel="stylesheet" href="{{static_url("css/font.css")}}" type="text/css"/>
    <link rel="stylesheet" href="{{static_url("css/mapp.css")}}" type="text/css"/>
    <script src="{{static_url("js/jquery.min.js")}}"></script>


    <title>{{title}}</title>
</head>
<style>
body , html{background:#ffffff;}

</style>
<body>

    <div class="app-content container">

<div class="app-content-body fade-in-up ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col ">
            <div class="wrapper-llg-sm ">
                <div class="row">
                    <div class="main-content">
						<div id="j-fullColl-a">
						    <a href="http://a.app.qq.com/o/ioslink.jsp?id=985918346" class="link">
							<div class="col-xs-8">
								<div class="row">
									<img src="http://app.collegedaily.cn/static/source/logo-new.png" class="img-responsive" style="width:52%; margin-left:20px; margin-top:6px; margin-bottom:5px;">
								</div>
							</div>
							<div class="col-xs-4" style="margin-top:3%;">
								<div class="row">
									<img src="http://app.collegedaily.cn/static/source/download.png" class="img-responsive download" style="width:80%;">
								</div>
							</div>
						    </a>
						</div>	

						<div  class="acttran fx-ban">
                            <img src="{{cover}}" class="img-responsive" width="100%">
								<div class="fx-ban-dw">
                                    <p class="fx-title">{{title}}</p>
                                    <p class="fx-ly">来源: 留学生日报<span style="margin-left:15px;">作者: {{author}}</span></p>
								</div>
					</div>
					<div class="fx-js" style="margin-top:20px;">
							<p class="fx-line"></p>
                            <p class="fx-txt">{%raw abstract %}</p>
							<p class="fx-line"></p>
					</div>
                        <!--blog begin-->
                        <div class="panel">

                            <div class="m-b-xs m-t-md padder-md">
                                        <!--span class="topic text-left pos-abt"><a href="#" class="breaking">Daily </a> / {{time}}
                                                </span-->

                                <div class="text-right m-r-xs">
                                            <span class="text-muted font-meta-time">
											
                                            </span>
                                </div>
                            </div>
                            <div class="wrapper-lg">
                                <div>
                                    
                                    <p>{%raw content %}</p>
									
									<div class="fx-pl">
									
                                        <span style="margin-left:15px;"><img src="http://app.collegedaily.cn/static/source/ico02.png" style="width:6%;"> {{comment_cnt}}</span>
									</div>


          <div class="related">猜你喜欢</div>
    {% for one in relate_blog %}
		<div class="row" style="margin-top:10px;">
            <a href="http://app.collegedaily.cn/blogview/{{one['id']}}">
            <div class="col-xs-8" style="width:66%; font-size:16px; padding-top:6%;">{{one['title']}}</div>
            <div class="col-xs-4 pull-right"><img src="{{one['thumb']}}" alt="..." class="thumbs"   style="display:block;" width="90%"></div>
		</a>
		</div>
    {% end %}
			<a href="http://a.app.qq.com/o/ioslink.jsp?id=985918346"><div class="fx-down"> 下载【留学生日报】客户端查看更多</div></a>
</div>


                            </div>



                        </div>


                    </div>
                </div>
            </div>
        </div>


 
    </div>

</div>

<script>
var x=document.getElementsByTagName("img");
for (i=0;i<x.length;i++)
{
x[i].removeAttribute('data-src');
}


$('.thumbs').each(function(){
    $(this).height($(this).width())
})


</script>	


    </div>










<script>

    $(function(){
        $('.input_search').focus(function(){
            $(this).css('width','110%');
        });

        $('.input_search').focusout(function(){
            $(this).css('width','100%');
        });


    })
	function winclose(){
		$('.bannerdown').click(function(){
		$(this).css('display','none');
		});
	}

  window.onload = function(){
    var simgs = document.getElementsByTagName("img");
    for(var i=0, len=simgs.length ;i <len; i++) {
        var aimg = simgs[i];
        var d_url = aimg.getAttribute('data-original');
        aimg.style.height = 'auto';
        if (d_url != null) {
            aimg.src = d_url;
            aimg.removeAttribute('data-original');
        }
    }
  };


</script>

</body>
</html>
