<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<?xml version="1.0" encoding="utf-8" ?>
<!--  generator="FEEDCREATOR_VERSION"  -->
<rss xmlns:sns="http://blog.ifeng.com.cn" version="2.0">
    <channel>
    <title>{{title}}</title>
        <description />
        <link>http://www.collegedaily.cn/</link>
        <lastBuildDate>Fri, 12 Jun 2015 23:01:49 +0800</lastBuildDate>
        <generator>FEEDCREATOR_VERSION</generator>
        <language>zh-cn</language>
        <copyright>Copyright 1996 - 2009 Ifeng Inc. All Rights Reserved.</copyright>
        <pubDate>Sun, 21 Jun 2015 02:06:51 +0800</pubDate>
        <item>
        <title>{{title}}</title>
        <link>http://app.collegedaily.cn/blog/{{blog_id}}</link>
        <thumbnail>{{thumbnail}}</thumbnail>
        <description>{{description}}</description>
        <content>{{content}}</content>
        <source>{{source}}</source>
            <pubDate>Wed, 20 May 2015 12:03:44 +0800</pubDate>
        </item>
    </channel>
</rss>
</body>
</html>
