{% extends "m/mbase.html" %}

{% block meta %}
<meta property="og:type" content="article"/>
<meta property="og:url" content="http://www.collegedaily.cn/"/>
  <meta name="description"
          content="app, web app, responsive, responsive layout, admin, admin panel, admin dashboard, flat, flat ui, ui kit, AngularJS, ui route, charts, widgets, components"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
{% endblock %}

{% block content %}
<div class="app-content-body fade-in-up ">
            <div class="hbox hbox-auto-xs hbox-auto-sm padder-v-25">
                <div class="col ">
                    <!--文章内容-->
                    <button class="btn m-b-xs w-xs btn-info btn-rounded">{{ tag.name }}</button>

                    <div class="padder bg-white">
                        <div class=" m-l-lg m-b padder-v">
                            <!--文章列表-->

                            {% for post in posts %}
                            <div>
                                <a class="pull-left thumb-sm avatar m-l-n-md">
                                    <img src="/assets/img/a9.jpg" class="img-circle" alt="...">
                                </a>

                                <div class="m-l-lg">
                                    <div class="m-b-xs">
                                        <a href="" class="h4 text-info">{{ post.author }}</a>
                                    </div>
                                    <div class="m-b-xs">
                                        <span class="topic text-left pos-abt"><a href="#" class="breaking">{{ post.category }} </a> / {{ post.tag }}
                                                </span>
                                        <div class="text-right m-r-xs">
                                            <span class="text-muted font-meta-time">
                                                {{ post.date }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="m-b  b-t left">
                                        <div class="col w-180">
                                            {% if post.cover %}
                                            <img class="wrapper-xxs b-a m-t-sm "  style="width:176px;height:141px;"src="{{ post.cover.url }}"/>
                                            {% else %}
                                            <img class="wrapper-xxs b-a m-t-sm "  style="width:176px;height:141px;"src="/assets/source/hot-thumb.jpg"/>
                                            {% endif %}
                                        </div>
                                        <div class="col padder-md">
                                            <h4 class="text-lt font-bold m-t a-title "><a href="/blog/{{ post.pk }}/">《{{ post.title }}》</a></h4>
                                            <p>
                                                {% autoescape off %}

                                                    {{ post.content|striptags|truncatewords_html:"5" }}

                                                {% endautoescape %}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="m-t-sm w-full">
                                        <a href="" class="text-muted m-xs"><i class="icon-action-redo"></i></a>
                                        <a href="" class="text-muted m-xs"><i class="icon-star"></i></a>
                                        <a href="" class="text-muted m-xs"><i class="icon-refresh"></i> {{ post.comment.all|length }}</a>
                                    </div>
                                </div>
                            </div>

                            <!--文章列表-->
                            {% endfor %}



                        </div>
                    </div>
                    <div class="text-center m-t-xs m-b-xs">
                        <ul class="pagination pagination-md">
                            {% if posts.has_previous %}
                            <li><a href="?page={{ posts.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
                            {% endif %}

                            <li class="active"><a href="">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</a></li>
                            <!--li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li-->



                            {% if posts.has_next %}
                            <li><a href="?page={{ posts.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>

                </div>

            </div>
        </div>
{% endblock %}